 body{
    background-color: black;
    min-width: 100vh;
} 
header{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/bg1.jpg);
}
.backdrop {
    backdrop-filter: blur(4px);
}

.banner{
    padding: 15% 30% 20%;
    color: rgb(236, 198, 11);
}
/* .button{
    justify-content: center;
    align-items: center;
    text-align: center;
} */

h1{
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

font-size: 60px;

font-weight: 900;

line-height: 40px;
color: rgb(236, 198, 11);
}

h3{
    padding: 5% 0%;
    font-family: 'Fuzzy Bubbles';
    /* font-family: 'Ubuntu', sans-serif; */
    color: white;
    text-align: center;
}
#logo{
    border-radius: 50%;
    align-items: center;
}

.button{
    width: 150px;
    margin: 0px 6px;
}
.btn-dark{
    color: white;
    background-color: black;
}

.info1{
    background-color: rgb(236, 198, 11);
    padding: 7% 5% 10% 5%;
    border-radius: 15%;
    width: 90%;
    /* float: left; */
    align-items: center;
    margin-left: 5%;
    font-size: larger;
   
}

.info2{
    background-color: rgb(47, 44, 44);
    color:white;
    padding: 7% 5% 10% 5%;
    border-radius: 15%;
    width: 90%;
    /* float: left; */
    align-items: center;
    margin-left: 5%;
    font-size: larger;
}

.image{
    height: 120%;
    width: 40%;
    border-radius: 50%;
}
.info2 img{
    float:right;
    height: 150%;
    width: 40%;
    /* border-radius: 50%; */
    box-shadow: 50%;
}
/* .text{
    position:fixed;
} */

.text1{
    text-shadow: 10px 10px 7px rgb(0, 0, 0);
}